<form name="grocery_cart" class="ShoppingCartForm">
	<h1>Items</h1>

	<ul name="items" class="ShoppingCartList">
		<!-- The items will be inserted here -->
		<li ng-repeat="item in items">
			<label>
				<input type="checkbox" ng-model="item.selected" value="1" name="{{item.title}}" />
				{{item.title}}<span>${{item.price}}</span>
			</label>
		</li>
	</ul>

	<input name="add_to_cart" class="ShoppingCartButton" type="button" ng-click="add_to_cart()" value="Add to Shopping Cart" />
	
	<h1>Shopping Cart</h1>

	<ul name="shopping_cart" class="ShoppingCartList">
		<!-- The shopping cart items will be inserted here -->
		<li ng-repeat="item in shopping_cart">
			<label>
				<input type="checkbox" ng-model="item.selected" value="1" name="{{item.title}}" />
				{{item.title}}<span>${{item.price}}</span>
			</label>
		</li>
	</ul>

	<p name="total" class="ShoppingCartTotal">total: <span>${{total()}}</span></p>
	
	<input name="remove_from_cart" class="ShoppingCartButton" type="button" ng-click="remove_from_cart()" value="Remove from Shopping Cart" />

	<input type="submit"  class="ShoppingCartButton" name="order" value="Order"/>

</form>